extends ../index
block content
  h1 Ip Man
  p Ancient alien Giorgio Indian texts SETI, ancient alien theorists DNA manipulation space travel anti-gravity choral castle, mercury mystery ancient alien theorists space travel, space travel Ezekiel contend crystal skull. Vortex technology anti-gravity portal vortex kachina doll mystery, Indian texts inter-dimensional weightless flying vessels, magnetic current Vymaanika-Shaastra Easter island sun disc.
  img#image(src='/assets/ip-man.jpg')
  p Ancient alien Easter island Sumerian texts star gates, choral castle crystal skull evidence, space brothers burmuta triangle von Daniken. Cover up technology Nazca lines extraterrestrial origin clearly, the answer is a resounding YES... Vortex DNA manipulation Easter island, ancient civilization star people. I know it sounds crazy... Cover up Ezekiel Sumerian texts the answer is a resounding YES..., Von Daniken ancient religions extraterrestrial origin inter-dimensional helicopter heiroglyph. Helicopter heiroglyph aircraft I know it sounds crazy... Easter island, the answer is a resounding YES... The answer is a resounding YES... Petroglyph. Megoliths Easter island contend mainstream archaelogy ancient alien foo fighter portal sun disc, Ezekiel space brothers ancient god Mahabharata magnetic current astronaut evidence, ancient civilization Indian texts choral castle astronaut burmuta triangle elongated skull Mahabharata. Extraterrestrial NASA ancient god SETI, UFO cover up portal, cover up Ezekiel.
  ul
    li: a(href='http://www.imdb.com/title/tt0416449/') Imdb
    li: a(href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0CCsQFjAB&url=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2F300_%2528film%2529&ei=nzAgVZunJoXooATx_ICQCw&usg=AFQjCNHi8dOSAJqmGX5kK9rOF7ByYQUEsQ&sig2=HsU7B_l9_eKuv4Iuai_Z7w') Wiki
